@charset "utf-8";
/* CSS Document */
a:link, a:visited {
	color: #003300;
}
h5 {
	background-color: #cf9;
	border-bottom: 2px solid #9c6;
	color:#030;
}
.bannerbottom {
	border-top: 1px solid #9c6;
}
.inputsubmit {
	text-align: center;
	font-family: Verdana;
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	background-color: #f30;
	border: 1px solid #f30;
	clear: both;
}
/* HEADER */
#kanal {
	background-color: #060;
}
#history {
	color: #333;
	background-color: #cf9;
	border-bottom: 2px solid #9c6;
}
.headbola {
	color: #060;
	font-size: 15px;
	font-weight: bold;
	background-color: #ff9;
	padding: 5px 8px;
	margin: 0;
	border-bottom: 1px solid #996;
	clear: both;
}
/* CONTENT */
#framehead {
	background-color: #fff;
}
#framehead a:link {
	color: #003300;
}
#framehead a:visited {
	color: #003300;
}
#framehead a:hover {
	color: #000;
}
#framehead h3 {
	font-size: 13px;
	padding: 2px 0;
	line-height: 120%;
}
#framehead h4 {
	color: #060;
	font-size: 12px;
	line-height: 110%;
}
.paging {
	background-color: #FFFF66;
}
.beritalalu {
	background-color: #FFCC33;
}
#framehead ul {
	padding: 4px 6px 6px 20px;
	margin: 0;
	width: 90%;
}
#framehead ul li {
	font-weight: bold;
	color: #E20000;
	list-style-type: square;
	list-style-position: outside;
	padding: 2px 0;
	margin: 0;
	clear: both;
}
.caridata {
	color: #fff;
	background-color: #FF9900;
	border-top: 1px solid #fff;
	margin: 0;
	padding: 3px 8px;
	clear: both;
}
.caridata .input {
	font-size: 12px;
}
.caridata .inputsubmit {
	border: 1px solid #fff;
	clear: both;
}
/* Content */
#content {
	border-bottom: 1px solid #6C6;
}
#content h1 {
	color: #060;
}
#content h2 {
	color: #c63;
	font-size: 13px;
}
#content h3 {
	background-color: #696;
}
#content .paging {
	background-color: #FF6;
}
#content .comment {
	border-top: 1px solid #9c6;
}
#content .frameform {
	border-bottom: 1px solid #9f9;
}
#content .frameform p {
	border-top: 1px solid #9f9;
}
#content .input {
	border: 1px solid #6c6;
}
#content .commenttxt {
	border: 1px solid #6c6;
}
#content .comentteks {
	border: 1px solid #6c6;
}
#content .code {
	border: 1px solid #6c6;
}
#content .c2 {
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	line-height: 120%;
	background-color: #090;
}
#content .c3 {
	font-size: 11px;
	line-height: 120%;
	background-color: #ffc;
}
#content .c4 {
	font-size: 11px;
	line-height: 120%;
	background-color: #cfc;
}
#content .c5 {
	font-size: 12px;
	line-height: 120%;
	font-weight: bold;
	color: #fff;
	background-color: #f60;
}
#kommentar ul {
	border-top: 1px solid #9f9;
}
#kommentar ul li {
	border-bottom: 1px solid #9f9;
}
#kommentar .komment {
	background-color: #f30;
}
#kommentar .kommentlagi {
	background-color: #F60;
}
.link01 {
	background-color: #fc6;
}
.link02 {
	background-color: #ff6;
	border-bottom: 1px solid #cc6;
}
#fitur {
	margin: 0;
	padding: 0;
}
#fitur h5{
	color:#000;
}
#fitur .nonhl {
	margin: 0;
	padding: 5px 8px;
	border-bottom: 1px solid #9c6;
	clear: both;
}
#fitur .nonhl:hover {
	background-color: #ff9;
	border-bottom: 1px solid #cc6;
}
#menus ul li {
	color: #060;
}
#ads1{
	background-color: #F30;
}
#ads2 {
	background-color: #03c;
}
#ads3 {
	background-color: #f60;
}
/* Footer */
#nav-bottom{
	background-color: #060;
}.menunext {
	text-align: center;
	line-height: 220%;
	background-color: #006600;
	padding: 4px 2px 2px;
	margin: 0;
	clear: both;
}
.menunext a, .menunext a:link {
	padding: 4px 8px 3px 8px;
	text-decoration: none;
	color: #000;
	background-color: #FFFF99;
}
.menunext a:hover {color: #000;background-color: #CCFF99;}
.menunext a.selected {color: #000;background-color: #CCFF99;text-decoration: none;}