/* global setting */
@charset "utf-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	/*font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	background-color: #fff;
	text-align: left;
	line-height: 125%;
	margin: auto;
	-webkit-text-size-adjust: none;
}
a{
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #e00;
}
a:link {
	color: #009;
}
a:visited {
	color: #009;
}
h3 {
	font-size: 13px;
	padding: 2px 0;
	line-height: 110%;
	margin:0;
}
h4 {
	color: #060;
	font-size: 11px;
	line-height: 110%;
	margin:0;
}

h5 {
	font-family: Verdana;
	font-weight: bold;
	font-size: 12px;
	color: #009;
	background-color: #9CF;
	margin: 0;
	padding: 2px 6px;
	border-top: 1px solid #fff;
	border-bottom: 2px solid #33C;
	clear: both;
}
h5 a:link {
	color: #000090;
}
h5 a:visited {
	color: #000090;
}
h5 a:hover {
	color: #d00;
}


td{
	padding: 2px 4px;
}
.bannertop {
	padding: 3px 0 0 0;
	text-align: center;
	clear: both;
}
.bannerbottom {
	padding: 4px 0 2px 0;
	text-align: center;
	border-top: 1px solid #999;
	clear: both;
}
.date {
	font-size: 10px;
	color: #333333;
	font-weight: normal;
}
#detiksearch .input, #query{
	background: top left no-repeat #FFF;
}
/* HEADER */
#header {
	width: 100%;
	min-height: 39px;
	height: auto !important;
	height: 39px;
	text-align: left;
	margin: auto;
	padding: 1px;
	clear: both;
}
.logo {
	width: 55%;
	padding: 2px 0 0 6px;
	float: left;
}
.updated {
	width: 40%;
	font-size: 10px;
	text-align: right;
	color: #666;
	line-height: 120%;
	margin: 0 0 1px 0;
	padding: 15px 6px 1px 0;
	float: right;
}
#kanal{
	color: #fff;
	text-align: center;
	background-color: #009;
	padding: 5px 0;
	border-bottom: 1px solid #fff;
	clear: both;
}
#kanal a:link {
	color: #ff0;
}
#kanal a:visited {
	color: #ff0;
}
#kanal a:hover {
	color: #fff;
}
#history {
	color: #203C7C;
	font-size: 11px;
	background-color: #9CF;
	padding: 2px 6px;
	border-bottom: 2px solid #33C;
	clear: both;
}
/* detik search box */
#detiksearch {
	text-align: center;
	background-color: #609;
	padding: 4px 8px;
	border-bottom: 1px solid #fff;
	clear: both;
}
#detiksearch .input {
	width: 70%;
	font-size: 11px;
	border: 1px solid #609;
	background-position:0 -24px;
	margin: 0;
}
#detiksearch .inputsubmit {
	text-align: center;
	font-weight: bold;
	font-size: 11px;
	color: #fff;
	background-color: #e00;
	border: 1px solid #e00;
	padding: 0 1px;
	clear: both;
}
/* highlight content */
#framehead {
	width: 100%;
	background-color: #ff9;
	margin: auto;
	clear: both;
}
#framehead a:link {
	color: #d00;
}
#framehead a:visited {
	color: #d00;
}
#framehead a:hover {
	color: #00c;
}
#framehead h3, .bukukuning h3, .nonhl h3,  {
	font-size: 13px;
	padding: 2px 0;
	margin: 0;
	line-height: 120%;
}
#framehead h4 {
	font-size: 12px;
	padding: 0;
	margin: 0;
	line-height: 110%;
}
.paging {
	text-align: right;
	background-color: #FFCC00;
	padding: 3px 10px;
	line-height: 110%;
}
.beritalalu {
	text-align: right;
	background-color: #FF9900;
	padding: 3px 10px;
	border-top: 1px solid #fff;
	clear: both;
}
.headline {
	min-height: 65px;
	height: auto !important;
	height: 65px;
	border-bottom: 1px solid #cc6;
	padding: 6px 8px;
	clear: both;
}
.headline h3 {
	font-size: 15px;
	line-height: 110%;
}
.headline h4 {
	color: #060;
	font-size: 12px;
	line-height: 110%;
}
.headline:hover {
	border-bottom: 1px solid #cc6;
	background-color: #cfc;
}
.headline img {
	margin: 0 4px 0 0;
	float: left;
}
#framehead .nonhl {
	border:0;
	border-bottom: 1px solid #cc6;
}
#framehead .nonhl:hover {
	background-color: #cfc;
}
/* head highlight */
.highlighthead {
	color: #fff;
	background-color: #e00;
	padding: 3px 0 2px 8px;
	border-bottom: 0;
}
.bbchead {
	color: #fff;
	background-color: #a43222;
	padding: 3px 0 2px 8px;
	border-bottom: 0;
}
.acihead {
	color: #fff;
	background-color: #f00;
	padding: 3px 0 2px 8px;
	border-bottom: 0;
}
.headfinance {
	text-align: center;
	font-weight: normal;
}
/* non highlight */
.nonhl{
	padding: 2px 8px;
	border-top: 1px solid #FFF;
	clear: both;
}
.nonhl a:hover {
	color: #e00;
}
/* css untuk menu lewat mana (Lalu Lintas) */
.highlight {
	background:#FFF000; 
	color:#000000; 
	padding:0px 3px; 
	margin:1px 0 0 0;
	-moz-border-radius:3px 3px 3px 3px;
}
#ramadan {
	background-color: #cfc;
	border-top-color: #cc9;
}
#woli {
	background-color: #ff6;
	border-top-color: #fff;
}
#hot {
	background-color: #fcc;
	border-top-color: #fff;
}
#inet {
	background-color: #ccf;
	border-top-color: #99c;
}
#finance {
	background-color: #cff;
	border-top-color: #9cc;
}
#sport {
	background-color: #f1ffcc;
	border-top-color: #9c9;
}
#bola {
	background-color: #E3E3E3;
	border-top-color: #ccc;
}
#health {
	background-color: #ff9;
	border-top-color: #fff;
}
#oto {
	background-color: #fcc;
	border-top-color: #fff;
}
#food {
	background-color: #fff;
	border-top-color: #ccc;
}
#bbc {
	background-color: #efefef;
	border-top-color: #99c;
}
#aci {
	background-color: #efefef;
	border-top-color: #99c;
}
#iklanbaris {
	background-color: #ff9;
	border-top-color: #fff;
}
#iklanbaris:hover {
	background-color: #cfc;
}
#iklanbaris a:link, #iklanbaris a:visited {
	color: #e00;
}
#iklanbaris a:hover {
	color: #009;
}
#pembaca {
	margin: auto;
	clear: both;
}
#pembaca .nonhl {
	padding: 3px 8px;
	clear: both;
}
#buncit {
	margin: auto;
	clear: both;
}
#buncit .nonhl {
	padding: 3px 8px;
	clear: both;
}
#komunitas {
	width: 100%;
	clear: both;
}
#komunitas p {
	padding: 3px 8px 6px 8px;
}
#promo {
	color: #fff;
	font-weight: bold;
	background-color: #FF0000;
	text-align: center;
	margin: auto;
	padding: 3px;
	border-top: 1px solid #fff;
	clear: both;
}
#promo a:link {
	color: #ff0;
}
#promo a:visited {
	color: #ff0;
}
#promo a:hover {
	color: #F9F9F9;
}
.promolagi {
	color: #fff;
	background-color: #00c;
	text-align: center;
	margin: auto;
	padding: 3px;
	border-top: 1px solid #fff;
	clear: both;
}
.promolagi a:link {
	color: #ff0 !important;
}
.promolagi a:visited {
	color: #ff0 !important;
}
.promolagi a:hover {
	color: #fff !important;
}
#fitur {
	clear: both;
	padding-left: 16px;
}
#fitur ul {
	padding: 4px 6px 6px 10px;
}
#fitur ul li {
	font-weight: bold;
	color: #E20000;
	list-style-type: square;
	list-style-position: outside;
	padding: 1px 0;
	clear: both;
}
/* link */
.link01 {
	text-align: center;
	background-color: #fc0;
	font-weight: normal;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #c90;
	padding: 3px 8px;
}
.link02 {
	text-align: center;
	font-weight: normal;
	background-color: #cf9;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #9c6;
	padding: 3px 8px;
}
/* Content */
#content {
	min-height: 65px;
	height: auto !important;
	height: 65px;
	border-bottom: 1px solid #666;
	padding: 7px;
	clear: both;
}

#content img {
	max-width:250px;
	height:auto;
}

#content h1 {
	font-size: 15px;
	padding: 2px 0;
	line-height: 100%;
}
#content h2 {
	color: #07008B;
	font-size: 13px;
	line-height: 100%;
}
#content h3 {
	color: #fff;
	font-size: 13px;
	background-color: #e00;
	padding: 3px 8px;
	margin: 5px 0;
}
#content h4 {
	font-size: 14px;
	color: #000;
	padding: 0;
	margin: 10px 0 2px 0;
	clear: both;
}
#content img {
	margin: 0;
	padding: 0 6px 6px 0;
	float: left;
}
#content p {
	margin: 0;
	padding: 5px 0;
}
.reporter {
	font-size: 10px;
	color: #666;
	padding: 0 0 5px 0;
}
#content ul {
	padding: 2px 6px 10px 14px;
	margin: 0;
}
#content ul li {
	width: 90%;
	color: #E80000;
	font-weight: bold;
	list-style-type: square;
	list-style-position: outside;
	padding: 1px 0;
	margin: 0;
	clear: both;
}
#content hr {
	margin: 3px 0;
	padding: 0;
	clear: both;
}
#content ul li img {
	margin: 0;
	padding: 0 4px 0 0;
	float: none;
}
#content hr {
	margin: 2px 0 5px 0;
	padding: 0;
	clear: both;
}
#content .paging {
	text-align: right;
	font-weight: bold;
	background-color: #CCCCFF;
	padding: 3px 8px;
	margin: 0;
	line-height: 110%;
}
#content .comment {
	font-size: 11px;
	text-align: center;
	border-top: 1px solid #9999CC;
	padding: 6px 0;
	margin: 7px 0 0 0;
}
#content .unekunek {
	font-weight: bold;
	padding: 0;
	margin: 6px 0;
	clear: both;
}
#content .frameform {
	padding: 0;
	margin: 5px 0;
	border-bottom: 1px solid #ccf;
	border-top: 0;
	clear: both;
}
#content .frameform p {
	padding: 3px 0;
	margin: 0;
	border-top: 1px solid #ccf;
	clear: both;
}
#content .frameform label {
	width: 70px;
	padding: 0;
	margin: 0;
	float: left;
}
#content .input {
	font-size: 12px;
	background-color: #fff;
	border: 1px solid #99c;
	width: 135px;
	margin: 0;
	padding: 0;
	clear: both;
}
#content .commenttxt {
	font-size: 12px;
	background-color: #fff;
	border: 1px solid #9999CC;
	width: 220px;
	margin: 0;
	padding: 0;
	clear: both;
}
#content .comentteks {
	font-size: 12px;
	background-color: #fff;
	border: 1px solid #9999CC;
	width: 220px;
	margin: 0;
	padding: 0;
	clear: both;
}
#content .code {
	font-size: 13px;
	background-color: #fff;
	border: 1px solid #99c;
	width: 70px;
	margin: 0;
	padding: 0;
	clear: both;
}
#content .inputsubmit {
	width: 60px;
	font-size: 11px;
	clear: both;
}
#kommentar {
	padding: 3px 0;
	margin: 0;
	clear: both;
}
#kommentar ul {
	padding: 2px 0 0 0;
	margin: 0;
	border-top: 1px solid #CCCCFF;
}
#kommentar ul li {
	color: #000;
	font-weight: normal;
	list-style-type: none;
	list-style-position: outside;
	padding: 4px 0;
	margin: 0;
	border-bottom: 1px solid #CCCCFF;
	clear: both;
}
#kommentar .komment {
	color: #fff;
	font-weight: bold;
	background-color: #009;
	padding: 0 4px;
	margin: 0 5px 0 0;
	text-transform: uppercase;
}
#kommentar .pro {
	color: #fff;
	font-weight: bold;
	background-color: #090;
	padding: 0 3px;
	text-transform: uppercase;
}
#kommentar .kontra {
	color: #fff;
	font-weight: bold;
	background-color: #e00;
	padding: 0 3px;
	text-transform: uppercase;
}
#kommentar img {
	margin: 0;
	padding: 0;
	float: none;
}
#kommentar .kommentlagi {
	color: #fff;
	font-weight: bold;
	background-color: #36f;
	padding: 0 4px;
	margin: 0 5px 0 0;
	text-transform: uppercase;
}
#usercomment {
	width: 85%;
	padding: 0 0 6px 10px;
	clear: both;
}
#usercomment ul {
	padding: 4px 6px 2px 10px;
}
#usercomment ul li {
	font-weight: bold;
	color: #E20000;
	list-style-type: square;
	list-style-position: outside;
	padding: 1px 0;
	clear: both;
}
#usercomment .kiriminfo {
	width: 85px;
	text-align: center;
	background-color: #FFFF99;
	padding: 1px 5px;
	margin: 0 0 0 10px;
	border: 1px solid #CCCC99;
}
/*menus*/
#menus {
	width: 85%;
	margin: 0;
	padding: 0 0 0 16px;
	clear: both;
}
#menus ul {
	padding: 4px 6px 6px 10px;
	margin: 0;
}
#menus ul li {
	font-weight: bold;
	color: #666;
	list-style-type: square;
	list-style-position: outside;
	padding: 1px 0;
	margin: 0;
	clear: both;
}
/*ads*/
.adtext{
	color: #fff;
	font-weight: bold;
	text-align: center;
	margin: auto;
	padding: 4px;
	border-top: 1px solid #fff;
	clear: both;
}
.adtext a:link, .adtext a:visited {
	color: #ff0;
}
.adtext a:hover {
	color: #F9F9F9;
}
#ads1{
	background-color: #090;
}
#ads2 {
	background-color: #060;
}
#ads3 {
	background-color: #e00;
}
/* Footer */
#footer {
	width: 100%;
	background-color: #EDEDED;
	margin: auto;
	clear: both;
}
#footer a:link {
	color: #e00;
}
#footer a:visited {
	color: #e00;
}
#footer a:hover {
	color: #009;
}
#nav-bottom{
	padding:6px;
	background-color: #009;
	border-top: 1px solid #fff;
	font-size:12px;
}
#nav-bottom a:link, #nav-bottom a:visited {
	color: #fff;
}
#nav-bottom a:hover {
	color: #ff0;
}
.frame{
	clear: both;
	padding: 4px 6px;
	font-size: 10px;
	border-top: 1px solid #999;
}
/* buku kuning */
.bukukuning {
	text-align: center;
	background: #ff0;
	padding: 6px 8px;
	margin: auto;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.bukukuning h3{
	color:#333;
}
#query {
	width: 70%;
	padding: 4px;
	border: 1px solid #fc9;
	background-position:0 4px;
	margin: 2px;
}
#btnCari {
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	padding: 1px 3px;
	margin: 2px;
	background-color: #e00;
	border: 1px solid #e00;
}
/* buat wp mdetik */
.jadwal {
	color: #330;
	text-align: center;
	background-color: #FF9;
	padding: 3px 0 2px 8px;
	border-top: 1px solid #CC6;
}
.kursvalas {
	height: 40px;
	background-color: #cff;
	padding: 3px 8px;
	border-top: 1px solid #99CCCC;
	clear: both;
}
.kursvalas .kol01 {
	width: 90px;
	padding: 1px 0;
	float: left;
}
.kursvalas .kol02 {
	width: 90px;
	padding: 1px 0;
	float: left;
}
.kursvalas .kol03 {
	width: 30px;
	padding: 1px 0;
	float: left;
}
.kursvalas .inputkurs {
	font-size: 11px;
	background-color: #FAFAFF;
	border: 1px solid #39c;
	width: 85px;
	margin: 1px 0;
	padding: 0;
	clear: both;
}
.kursvalas .submitkurs {
	width: 30px;
	text-align: center;
	font-family: Verdana;
	font-weight: bold;
	font-size: 11px;
	color: #FCF8FF;
	background-color: #EC0000;
	border: 1px solid #F90000;
	clear: both;
}
/* CSS 3 */
input[type="text"], input[type="submit"]{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.dealhead {
	color: #fff;
	background-color: #2297b4;
	padding: 3px 0 2px 8px;
	border-bottom: 0;
}
.nonhldeal {
	background-color: #d2f1f9;
	margin: 0;
	padding: 2px 8px;
	border-top: 1px solid #107e9a;
	clear: both;
}

/* end */

/* iklan baris updated */
.nonhliklanbaris {
	background-color: #cff;
	padding: 2px 8px;
	border-bottom: 1px solid #9cc;
	clear: both;
}
.nonhliklanbaris:hover {
	border-top: 1px solid #cc6;
	background-color: #ff9;
}
.nonhliklanbaris a:link, .nonhliklanbaris a:visited {
	color: #e00;
}
.nonhliklanbaris a:hover {
	color: #009;
}